<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isLogin ? 'เข้าสู่ระบบ' : 'ลงทะเบียน' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form #formLogin="ngForm" (ngSubmit)="onSubmitForm(formLogin)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username:</ion-label>
            <ion-input 
              type="email" 
              ngModel 
              name="email" 
              required 
              email 
              #emailCheckValid="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password:</ion-label>
            <ion-input 
            type="password" 
            ngModel 
            name="password" 
            required 
            minlength="8" 
            #passwordCheckValid="ngModel"
          ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-margin-top">
        <ion-button 
          type="submit" 
          color="primary" 
          (click)="onLogin()" 
          expand="block" 
          [disabled]="!formLogin.valid"
        >{{ isLogin ? 'เข้าสู่ระบบ' : 'ลงทะเบียน' }}</ion-button>
        <ion-button 
          type="button" 
          color="primary" 
          fill="clear" 
          expand="block"
          (click)="onSwitchMode()"
          >
          {{ isLogin ? 'ยังไม่ลงทะเบียน? ลงที่นี่' : 'มี account แล้ว เข้าสู่ระบบ' }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="((!emailCheckValid.valid && emailCheckValid.touched) || 
      (!passwordCheckValid.valid && passwordCheckValid.touched))"
    >
      <ion-col class="ion-text-center ion-margin-top">
        <ion-label color="danger">
          <h2>กรุณาใส่ username/password ให้ถูกต้อง</h2>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
