<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{  loadedRestaurants[0].name }}</ion-card-title>
        </ion-card-header>
        <ion-img [src]="loadedRestaurants[0].imageUrl"></ion-img> 
        <ion-card-content>
          <p>{{ loadedRestaurants[0].address }}</p>
        </ion-card-content>
        <div class="ion-padding">
          <ion-button fill="clear" [routerLink]="['/', 'restaurant', 'tabs', 'find', loadedRestaurants[0].id]">เพิ่มเติม</ion-button>
        </div>
      </ion-card>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-list>
        <ion-item
          *ngFor="let restaurant of loadedRestaurants.slice(1)"
          [routerLink]="['/', 'restaurant', 'tabs', 'find', restaurant.id]"
        detail >
          <ion-thumbnail slot="start">
            <ion-img [src]="restaurant.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>{{ restaurant.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>