<ion-header>
  <ion-toolbar>
    <ion-title>สำรองโต๊ะ</ion-title>
    <ion-buttons slot="primary">
      <ion-icon name="close" slot="icon-only" (click)="onCancel()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="doneReserve()">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <!-- <ion-item>
          <ion-label position="floating">ร้าน:</ion-label>
          <ion-input 
            type="text" 
            name="restaurant_name"
            ngModel
            required
          ></ion-input>
        </ion-item> -->
        
        <ion-item>
          <ion-label>วัน-เวลา:</ion-label>
          <ion-datetime 
            name="reservation_datetime"
            displayFormat="D MMM YYYY HH:mm"
            [min]="getMinYear()"
            [max]="getMinYear()+1" 
            value=""
            ngModel
            required
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<div class="ion-text-center ion-margin-top">
  <ion-button 
    (click)="doneReserve()" 
    [disabled]="!form.valid || !checkValid()"
  >ยืนยัน</ion-button>
</div>
</ion-content>
