<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>การสำรองโต๊ะของฉัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" *ngIf="!loadedReservations || loadedReservations.length <= 0" class="ion-text-center ion-margin-top">
        <ion-label color="danger">
          <h2>ไม่มีรายการสำรองโต๊ะ</h2>
        </ion-label>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="loadedReservations && loadedReservations.length > 0">
        <ion-list>
          <ion-item-sliding *ngFor="let reservation of loadedReservations" #myReservation>
            <ion-item>
              <ion-label>
                <h4>ร้าน : {{ reservation.restaurant_title }}</h4>
                <p>วัน-เวลา จอง : {{ reservation.reservation_datetime }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="onCancel(reservation.id, myReservation)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
