<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="find" routerLink="/restaurant/tabs/find">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>ร้านอาหาร</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map" routerLink="/restaurant/tabs/map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>แผนที่</ion-label>
      </ion-tab-button>
  
      
    </ion-tab-bar>
  </ion-tabs>
<!-- </ion-content> -->
